name: Continuous Integration

on:
  push:
    branches: ['main', 'develop']

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v4

    - name: Run cmake workflow for shared libraries
      run: cmake --workflow --fresh --preset=ci-shared

    - name: Run cmake workflow for static libraries
      run: cmake --workflow --fresh --preset=ci-static
